name: Dev-Container

on:
  workflow_dispatch:
    inputs:
      push:
        description: 'Push the container'
        required: true
        default: 'false'
        type: boolean

jobs:
  docker:
    name: Docker ${{ inputs.push && 'Push' || 'Build' }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@65c0768122147b63190ddda25aa21f81640cf5f3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: docker build --tag ghcr.io/${{ github.repository }}:devcontainer .devcontainer

      - name: Push
        if: ${{ inputs.push == true }}
        run: docker push ghcr.io/${{ github.repository }}:devcontainer
